body{
    background-color: #ea8619;
}

main{
    color:#3e531c;
    height:765px;
    top:80px;

    background-image: url(images/appelsinskiver4.png);
    background-repeat: no-repeat;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main p{
    font-weight: 400;
}

@keyframes slide{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(40px);
    }
}

@keyframes slideobjects{
    0%{
        transform:translateY(0);
    }
    100%{
        transform:translateY(60px);
    }
}


main > div:first-child{
    background-color: #f5c048;
    
    opacity:0.6;

    border-radius: 20px;
    padding:150px;

    position:relative;
    top:90px;

    animation:slide 1s ease-in-out 0s 1 forwards;
    

}

main #appelsin, main #modtaget{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    position:relative;
    bottom:270px;

    animation:slideobjects 1s ease-in-out 0s 1 forwards;

}





