/*LAPTOP*/
@media screen and (min-width:1024px) {

    /*MAIN STYLES LAPTOP*/
    h2 {
        font-size: 40pt;
        font-weight: 600;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 30pt;
        font-weight: 400;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }

    p,
    input,
    label,
    textarea,
    a, ol {
        font-size: 20pt;
        font-weight: 300;
        letter-spacing: 0.3px;
    }

    #konkurrence div>a,
    #k-regler a,
    #varianter a {

        border-radius: 20px;
        padding: 8px;
        padding-right: 30px;
        padding-left: 30px;
        margin: 5px;

        font-size: 15pt;

    }

    #konkurrence div>a,
    #k-regler a,
    #varianter a {
        border: 3px solid #3e531c;
        transition: 0.4s ease-in-out;
    }


    /*KONKURRENCE STYLES LAPTOP*/
    #konkurrence {
        height: 600px;
    }

    #top-pic-mobil {
        display: none;
    }

    #top-pic-laptop {
        display: block;
    }


    .fa-mobil {
        display: none;
    }

    .fa-laptop {
        color: #3e531c;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        bottom: 200px;

        transition: 0.3s;

        animation: ned 1s ease-in-out 1;

    }

    @keyframes ned {
        0% {
            bottom: 200px;
        }

        100% {
            bottom: 190px;
        }

    }

    .fa-laptop:hover {
        color: #4a681e;
        bottom: 190px;
    }

    .fa-laptop:active {
        color: #334517;
    }


    /*KONKURRENCE REGLER STYLES LAPTOP*/
    #k-regler {
        height: auto;
        bottom: 20px;
        padding-top:150px;
    }

    #k-pic-mobil {
        display: none;
    }

    #k-pic-laptop {
        width: 100%;
        display: block;
    }

    #bølge {
        bottom: 25px;
    }

    #k-regler div {
        margin-top: 4%;
        margin-right:12%;
        margin-left:12%;
    }

    #k-regler ol{
        padding-bottom:3%;
    }

    #k-regler h2 {
        margin-top: 0;
        margin-bottom: 8%;

        text-align: center;
    }

    #k-regler div p{
        margin-bottom:5%;
    }

    #k-regler a{
        position:relative;
        top:20px;
    }

    #k-regler a:hover {
        background-color: #ea8619;
        color: #3e531c;
        border: 3px solid #3e531c;
    }

    /*VARIANTER STYLES LAPTOP*/
    #varianter {
        border-bottom: 4px solid #ea851948;
        border-radius: 10px;
        margin-right: 150px;
        margin-left: 150px;
    }

    #varianter div {
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: row;
    }

    #almsquash {
        margin-left: 50px;
    }

    #lightsquash {
        margin-right: 50px;
    }

    .squash-laptop {
        order: 1;
    }

    #almsquash-tekst {
        order: 2;
        text-align: center;
        margin-left:50px;
    }

    #lightsquash-tekst {
        text-align: center;
        margin-right:50px;
    }

    #varianter img {
        border-radius: 150px;
        transform: scale(1);
        transition: 0.5s ease-in-out;
    }

    #varianter img:hover {
        transform: scale(1.1);
    }

    .squash-laptop {
        display: block;
    }

    .squash-mobil {
        display: none;
    }

    #varianter>div:nth-child(2) {
        margin-top: 100px;
    }

    #varianter>div:nth-child(3) {
        margin-bottom: 150px;
    }

    #varianter p {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #varianter a:hover {
        background-color: #f3c760;
        color: #3e531c;
        border: 3px solid #3e531c;
    }

    /*HISTORIE STYLES LAPTOP*/
    #historien {
        height: auto;
        margin-top: 150px;
    }

    #historietekst{
        margin-top:50%;
    }

    #image-holder {
        display: none;
    }

    #image-holder-laptop {
        display: block;
    }

    #image-holder-laptop {
        width: 2600px;
        height: 1200px;

        overflow: hidden;
    }

    #image-holder-laptop img {
        width: 100%;
        height: 100%;

        padding-left: 110px;
        padding-right: 200px;

        position: relative;

    }

    /*DELTAG STYLES LAPTOP*/

    #formular>input,textarea{
        font-size: 15pt;
        padding:15px;
        width:150%;
        border-radius: 15px;
    }

    #deltagtekst{
        padding-right:20%;
        padding-left:20%;
        margin-top:5%;
        margin-bottom:5%;
    }

    #deltagtekst h2{
        margin-bottom:30px;
    }

    .cb-container{
        margin-top: 30px;
        font-size:17pt;

    }

    #checkboxes input[type="checkbox"]{
        height:40px;
        transform: translateY(0em);
        border-radius: 10px;
        
    }

    .fa-mobil-up {
        display: none;
    }

    .fa-laptop-up{
        color: #3e531c;

        display: flex;
        align-items: center;
        justify-content: center;

        float:right;
        right:150px;

        position: relative;
        bottom: 120px;

        transition: 0.3s;

    }

    .fa-laptop-up:hover {
        color: #4a681e;
        bottom: 140px;
    }

    .fa-laptop-up:active {
        color: #334517;
    }

    main a{
        text-decoration: none;
    }

    #bølge-historie{
        bottom:100px;
    }

    input[type="submit"]{
        height:65px;
        border-radius: 25px;
        cursor:pointer;

        transition:0.3s ease-in-out;
      
    }

    input[type="submit"]:hover{
        color:#3e531c;
        background-color: #ea8619;
        border:3px solid #3e531c;
    }

    /*FOOTER STYLES LAPTOP*/
    footer{
        height:300px;
        margin-bottom:100px;
    }

    footer h2{
        margin-bottom:40px;
    }
    
  

}
/*TABLET LODRET*/
@media screen and (min-width:768px) and (max-width:1023px) {
    /*MAIN STYLES TABLET*/
    h2 {
        font-size: 30pt;
        font-weight: 600;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 20pt;
        font-weight: 400;
        letter-spacing: 0.3px;
        margin-bottom: 10px;
    }

    p,
    input,
    label,
    textarea,
    a, ol {
        font-size: 15pt;
        font-weight: 300;
        letter-spacing: 0.3px;
        
    }

    #konkurrence div>a,
    #k-regler a,
    #varianter a {

        border-radius: 20px;
        padding: 8px;
        padding-right: 30px;
        padding-left: 30px;
        margin: 5px;

        font-size: 15pt;

    }

    #konkurrence div>a,
    #k-regler a,
    #varianter a {
        border: 3px solid #3e531c;
        transition: 0.4s ease-in-out;
    }
    
    /*KONKURRENCE STYLES TABLET*/
    #konkurrence {
        height: 300px;
    }

    #top-pic-mobil {
        display: none;
    }

    #top-pic-laptop {
        display: block;
    }

    .fa-mobil {
        display: none;
    }

    .fa-laptop {
        color: #3e531c;

        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;
        bottom: 120px;

        transition: 0.3s;

    }

    .fa-laptop:active {
        color: #334517;
    }

    #info{
        height:200px;
    }

    /*KONKURRENCE REGLER STYLES TABLET*/
    #k-regler{
        height:auto;
        padding-bottom:100px;
    }

    #k-regler div{
        margin-top:4%;
        margin-right:8%;
        margin-left:8%;
    }

    #k-regler div > div{
        margin-bottom:3%;
    }

    #k-regler div p {
        margin-bottom: 5%;
    }

    #k-regler div > a{
        position:relative;
        top:20px;
    }

    #k-pic-mobil {
        display: none;
    }

    #k-pic-laptop {
        width: 100%;
        display: block;
    }

    /*VARIANTER STYLES TABLET*/
    .squash-laptop {
        display: block;
    }

    .squash-mobil {
        display: none;
    }

    #varianter{
        margin-right:100px;
        margin-left:100px;
    }

    #varianter>div:nth-child(2) {
        margin-top: 60px;
        margin-bottom:70px;
    }

    #varianter>div:nth-child(3) {
        margin-bottom: 70px;
    }

    #varianter p {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #varianter img{
        border-radius: 150px;
        margin-bottom:10px;
    }

    #almsquash-tekst, #lightsquash-tekst{
        margin-left:60px;
        margin-right:60px;
    }

    /*HISTORIE STYLES TABLET*/
    #image-holder {
        display: none;
    }

    #image-holder-laptop {
        display: block;
    }

    #historien{
        height:700px;
    }

    /*DELTAG STYLES TABLET*/
    #formular>input,textarea{
        font-size: 15pt;
        padding:15px;
        width:120%;
        border-radius: 15px;
    }

    #deltagtekst{
        padding-right:10%;
        padding-left:10%;
        margin-top:5%;
        margin-bottom:4%;
    }

    #deltagtekst h2{
        margin-bottom:20px;
    }

    .cb-container{

        margin-top: 20px;
        font-size:15pt;

    }

    #checkboxes input[type="checkbox"]{
        height:40px;
        transform: translateY(-0.1em);

        border-radius: 10px;

        appearance: none;
        margin: 0;
        background-color: #f3c760;

        display: grid;
        place-content: center;
        
        
    }

    input[type="submit"]{
        height:60px;
        width:25%;
        border-radius: 20px;
    }

    input[type="submit"]:active {
        background-color: #334517;
    }

    #bølge-historie{
        bottom:100px;
    }

    .fa-mobil-up {
        display: none;
    }

    .fa-laptop-up{
        color: #3e531c;

        display: flex;
        align-items: center;
        justify-content: center;

        float:right;
        right:80px;

        position: relative;
        bottom: 110px;

        transition: 0.3s;

    }

    .fa-laptop-up:active {
        color: #334517;
    }

    /*FOOTER STYLES TABLET*/
    footer{
        height:150px;
        margin-bottom:80px;
    }

    footer h2{
        margin-bottom:40px;
    }

}