* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    background-color: #f3c760;
    overflow-x: hidden;
    width:100%;
}

main {
    position: relative;
    top: 80px;
}

h2,
h3,
#navmobil a {
    font-family: "Merriweather", serif;
}

p,
input,
label,
textarea,
a, ol li {
    font-family: "Kanit", sans-serif;
    -webkit-tap-highlight-color: transparent;
}



/*MOBIL TEKST STTYLES*/
h2 {
    font-size: 20pt;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    padding-left:10px;
    padding-right:10px;
    text-align: center;
}

h3 {
    font-size: 15pt;
    font-weight: 600;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

p,
input,
label,
textarea,
a, ol {
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

#info,
#varianter,
#historien,
footer {
    color: #ea8619;
}

#k-regler,
#deltag {
    color: #f3c760;
}


/*KONKURRENCE STYLES*/
#konkurrence {
    background-color: #ea8619;
    height: 160px;
}

#top-pic-laptop{
    display:none;
}

#top-pic-mobil, #top-pic-laptop{
    width: 100%;
    position: relative;
}

.fa-laptop{
    display:none;
}

.fa-mobil {
    color: #3e531c;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 60px;

}

.fa-mobil:active {
    color: #334517;
}

#konkurrence a {
    text-decoration: none;
}

#info {
    position: relative;
    height:auto;

    padding-left:50px;
    padding-right:50px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info h2{
    margin-bottom:15px;
}

/*KONKURRENCE REGLER STYLES*/
#k-regler {
    background-color: #ea8619;
    height:auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    bottom: 10px;

    padding-bottom:50px;
}

#k-pic-mobil{
    width:100%;
}

#k-pic-laptop{
    display:none;
}


#k-regler a {
    color: #ea8619;
    text-decoration: none;
  
}

#k-regler h2 {
    margin-top: 10%;
    margin-bottom: 12%;

    text-align: center;
}

#k-regler div {
    text-align: center;
    margin-top: 2%;
    margin-right:5%;
    margin-left:5%;
}

#k-regler div p {
    margin-bottom: 10%;
}


#konkurrence div>a,
#k-regler a,
#varianter a {
    background-color: #3e531c;
    border: none;

    border-radius: 14px;
    padding: 8px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 5px;
    font-size: 10pt;

    cursor: pointer;
}

#konkurrence div>a:active,
#k-regler a:active,
#varianter a:active {
    background-color: #334517;
}

/*VARIANTER STYLES*/
#varianter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-bottom: solid 2px #ea851948;
    border-radius: 10px;
    margin-top: 20px;
    margin-left:40px;
    margin-right:40px;
}

#varianter div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}

#varianter>div:nth-child(2) {
    margin-top: 30px;
    margin-bottom: 60px;
}

#varianter div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
}

#varianter>div:nth-child(3) {
    margin-bottom: 50px;
}

#varianter img {
    border-radius: 100px;
}

.squash-laptop{
    display:none;
}

#varianter a {
    color: #f3c760;
    text-decoration: none;
}

#varianter p{
    text-align:center;
}

#bølge {
    position: relative;
    bottom: 15px;
}

/*HISTORIE STYLES*/
#historien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 100%;

    margin-top:12%;
    margin-bottom:45%;

}

#historietekst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-right: 50px;
    margin-left: 50px;
    margin-top: 130%;
    margin-bottom:10%;
   
    position: absolute;

}

#image-holder-laptop{
    display:none;
}

#image-holder {
    width: 100%;
    height: 350px;

    overflow: hidden;
}

#image-holder img {
    width: 850px;
    height: 350px;

    padding-left: 110px;
    padding-right: 110px;

    position:relative;
    right:250px;

}

/*DELTAG STYLES*/
#deltag {
    background-color: #ea8619;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    height: auto;

    position: relative;
    bottom: 10px;

    padding: 30px;
}

#deltagtekst {
    margin-bottom: 5%;
 
}

#formular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formular>input,
textarea {
    padding: 10px;
    width: 100%;

    border: solid 2px #ea8619;
    border-radius:10px;

    color: #ea8619;
    background-color: #f3c760;
    outline:none;

    transition:0.4s;
}

::-webkit-input-placeholder{
    color:#ea8619;
    opacity:0.5;
}

#formular > input:focus, textarea:focus{
    border:solid 2px #c06605;
}

/*Input – navn, email, upload, besked – https://developer.mozilla.org/en-US/docs/Web/CSS/::file-selector-button */
input[type="file"]::file-selector-button {
    font-family: "Merriweather", serif;
    border: 1px solid #ea8619;
    background-color: #f3c760;
    color: #ea8619;

    border-radius: 8px;
    padding: 8px;

    transition: 0.2s;

    cursor: pointer;
}

input[type="file"]::file-selector-button:focus {
    cursor: pointer;

    color: #f3c760;
    background-color: #ea8619;
    border: 1px solid #f3c760;
}

/*Checkbox*/
/*Lavet med hjælp fra https://moderncss.dev/pure-css-custom-checkbox-style/*/
#checkboxes {
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;

    width: 100%;

}

.cb-container {
    display: grid;
    grid-template-columns: 2em auto;
    gap: 0.7em;

    font-size: 15px;

    margin-top: 5px;
}

.cb-container input {
    display:none;
    float: left;
    cursor: pointer;
}

#checkboxes input[type="checkbox"] {
    appearance: none;
    margin: 0;
    background-color: #f3c760;

    border-radius: 5px;
    color: #ea8619;

    width: 40px;
    height: 30px;

    transform: translateY(0.35em);

    display: grid;
    place-content: center;
}

#checkboxes input[type="checkbox"]::before {
    content: "";
    width: 20px;
    height: 20px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #ea8619;

    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

    border-radius: 2px;

}

#checkboxes input[type=checkbox]:checked::before {
    transform: scale(1);
}


#checkboxes label {
    display: flex;
    float: left;
    text-align: left;
}

input[type="submit"] {
    border-radius: 20px;
    
    height:50px;

    width: 30%;

    color: #ea8619;
    background-color: #3e531c;
    border: 3px solid #ea8619;

    cursor: pointer;
}

input[type="submit"]:active {
    background-color: #334517;
}

.fa-laptop-up{
    display:none;
}

.fa-mobil-up {
    color: #3e531c;

    position: relative;
    bottom: 102px;

    float: right;

    margin-right: 35px;

    cursor: pointer;
}

.fa-mobil-up:active {
    color: #334517;
}


#bølge-historie {
    position: relative;
    bottom: 65px;
}

/*FOOTER STYLES*/
footer {
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h2 {
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color:#ea8619;
    margin-bottom: 5px;
}